/* NAVBAR */
li.form-check {
    left: 20px;
    color: white;
}


/* PALETTE COULEUR*/
#palette {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#palette .pal-color {
    margin-left: 10px;
}

#palette:not(:empty):before {
    content: 'Palette de couleurs : ';
}

/* DELIMITED BLOC */
.bloc-content.delimited,
.report-bloc-title.delimited,
.report-bloc-subtitle.delimited{
    outline: dashed 2px black;
    outline-offset: 5px;
}

.dataviz-container.delimited {
    outline: dashed 1px red;
    outline-offset: -10px;
    margin: 10px;
}
.dataviz-container.delimited:after {
    content: 'dataviz-container';
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    font-size: x-small;
}

.bloc-content.delimited:after,
.report-bloc-title.delimited:after,
.report-bloc-subtitle.delimited:after {
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    font-size: x-small;
}

.bloc-content.delimited:after {
    content: 'bloc-content';
}

.report-bloc-title.delimited:after {
    content: 'report-bloc-title';
}

.report-bloc-subtitle.delimited:after {
    content: 'report-bloc-subtitle';
}