.view.bloc-content {
    border-style: solid;
}

.dataviz-container {
    border-style: dotted;
    border-color: red;
}

.view.bloc-content:after {
    content: 'bloc';                    
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}