li.form-check {
    left: 20px;
    color: white;
}

.bloc-content.delimited,
.report-bloc-title.delimited{
    border-style: solid;
}

.dataviz-container.delimited {
    border-style: dotted;
    border-color: red;
}
.dataviz-container.delimited:after {
    content: 'dataviz-container';
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.view.bloc-content.delimited:after {
    content: 'bloc-content';
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.report-bloc-title.delimited:after {
    content: 'report-bloc-title';
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}